/* BLOG: Don't underline links in headlines */
.j-blogarticle a:link,
.j-blogarticle a:visited {
  text-decoration: underline;
}

a.j-blog-header,
header.j-blog-meta a {
  text-decoration:  none !important;
}

h2.j-blog-headline {
  line-height:      100% !important;
}

div.j-blogSelection {
  margin-top:       0px !important;
  padding-top:      0px !important;
}

a.blogreadmore {
  text-transform:   uppercase;
  font-family:      Lato, Helvetica, "Helvetica Neue", Arial, sans-serif, "websafe" !important;
}

/* BLOG: Center article dates below headlines */
time.datetime {
  display:          table;
  float:            none;
  text-transform:   uppercase;
  margin:           0px auto;
  padding:          0px;
  font-family:      Lato, Helvetica, "Helvetica Neue", Arial, sans-serif, "websafe";
  font-weight:      normal;
  font-style:       normal;
}

.datetime span {
  margin-bottom:    25px;
}

/* BLOG: Hide post meta data */
.postmeta {
  display:          none;
}

.body {
  background-attachment: scroll;
}

/* HOME: Use full page for emotion header */
.cc-page-index .tpl-spacing {
  min-height:           100vh;
  /* background-image: url('https://dl.dropboxusercontent.com/s/p50pw47yrrft0ue/hipster_anchor_bg_grey.png'); */
  /* background-image: url('https://dl.dropboxusercontent.com/s/a17mndt99bofa7c/hipster_anchor_bg_white.png');
  background-repeat: no-repeat;
  background-position: center; */
  /* background-attachment: fixed; */
}

/* GENERAL: Don't show emotion header on all non-index sites */
.tpl-spacing {
  min-height:       100vh;
}

/* INDEX: Put navigation on top */
.tpl-navigation {
  background-color: rgba(255,255,255, 0.65) !important;
  position:         fixed;
  top:              0;
  left:             0;
  right:            0;
  z-index:          500;
}

.subnavigation-colors ul {
  padding: 0px 0px 15px 0px;
}

/* INDEX: Overwrite JS calculated margin*/
div#content_area {
  margin-top:       0px !important;
}

/* GENERAL: Overwrite menu transparency on all non-index sites */
body:not(.cc-page-index) .tpl-navigation {
  background-color: rgba(255,255,255, 0.65) !important;
  position:         fixed;
  left:             0;
  right:            0;
  z-index:          500;
}

.sidebar-options {
  padding:          40px 10px !important;
  min-height:       0px !important;
}

div#logotxt {
  color:            rgb(153,153,153);
  text-transform:   uppercase;
  font-family:      Lato, Helvetica, "Helvetica Neue", Arial, sans-serif, "websafe";
  font-style:       normal;
  font-weight:      normal;
  font-size:        16px;
}

span.logotxt {
  color:            rgb(206,0,0);
}

/* Responsive video modules */
.cc-m-video-wrapper {
  position:         relative;
  padding-bottom:   56.25%;
  padding-top:      0px;
  height:           0 !important;
  overflow:         hidden;
  width:            auto !important;
}
iframe[id*='cc-m-video-container'] {
   position:        absolute;
   top:             0;
   left:            0;
   width:           100%;
   height:          100%;
}

input[data-action='formButton'] {
  color:            rgb(255,255,255);
  font-family:      Lato, Helvetica, "Helvetica Neue", Arial, sans-serif, "websafe" !important;
}

input.submitUser {
  text-transform:   uppercase;
}

span.j-m-required {
  color:            rgb(155,0,0);
}

form.cc-m-form .cc-m-form-view-element.cc-m-required > label div:after {
    color:          rgb(155,0,0);
}

div#disqus_thread {
  margin-top:       50px;
}
div#disqus_thread a:link {
  color:            rgb(206,0,0);
}

/* Do not show Disqus widgets on the blog post overview */
body:not(.cc-page-blog) div#disqus_thread {
  display:          none;
}

div.n.j-text p {
  hyphens:          auto;
  -ms-hyphens:      auto;
  -moz-hyphens:     auto;
  -webkit-hyphens:  auto;
  -webkit-locale:   de;
  text-align:       justify;
}

div[id*='cc-m-gallery-'] {
  margin:           0px auto !important;
  text-align:       center;
  font-size:        0em;
}

.ccgalerie div[class*='thumb_'] {
  margin:           0px auto !important;
  display:          inline-block;
  float:            none !important;
}

/* Hide navigation when not needed: http://wicky.nillia.ms/headroom.js/ */
.headroom {
    transition: transform 200ms linear;
    -webkit-transition: -webkit-transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

/* Animate scroll-down notification */
@keyframes scroll-down {
    from {background-color: rgba(0, 0, 0, 0.65);}
    to {background-color: rgba(128, 128, 128, 0.65);}
}
@keyframes scroll-down-fontcolor {
    from {color: rgb(128,128,128);}
    to {color: rgb(255,255,255);}

}
@-webkit-keyframes scroll-down-fontcolor {
    from {color: rgb(128,128,128);}
    to {color: rgb(255,255,255);}

}

div.scroll-down {
  position: absolute;
  top: 93vh;
  left: 0;
  right: 0;
}

body:not(.cc-page-index) div.scroll-down {
  top: 93vh;
}

div.inner-scroll-down {
  margin: 0px auto;
  padding: 5px;
  border-radius: 20px;
  font-family: Lato, Helvetica, "Helvetica Neue", Arial, sans-serif, "websafe";
  color: #ccc;
  letter-spacing: 2px;
  width: 15em;
  text-align: center;
  text-transform: uppercase;
  background: rgba(32, 32, 32, 0.65);
  animation-name: scroll-down-fontcolor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  -webkit-animation-name: scroll-down-fontcolor;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}

/* Individual page backgrounds */
#page-1741597393  { background-image: url(http://jens.mayer.hamburg/app/download/12096634625/claudia-mannheim.jpg?t=1432327207); }
#page-1089007181 { background-image: url(http://jens.mayer.hamburg/app/download/12096665025/jens-1.jpg?t=1432327501); }
#page-1744944693 { background-image: url(http://jens.mayer.hamburg/app/download/12096687425/bench.jpg?t=1432327865); }
